{
    'env': {
        'browser': true,
        'es6': true,
        'node': true,
        'commonjs': true
    },
    'extends': ['eslint:recommended', 'plugin:react/recommended'
    ],
    'parserOptions': {
        'ecmaVersion': 6,
        'sourceType': 'module',
        'ecmaFeatures': {
            'jsx': true
        }
    },
    'plugins': ['react'
    ],
    'parser': 'babel-eslint',
    'rules': {
        'react/jsx-uses-vars': 2,
        'react/prop-types': 0,
        'no-console': 0,
        'no-unused-vars': 1,
        'no-useless-escape': 0
    },
    'settings': {
        'react': {
          'createClass': 'createReactClass',
          'pragma': 'React',
          'version': '16.10.2',
          'flowVersion': '0.53'
        },
        'propWrapperFunctions': [ 'forbidExtraProps'
        ]
    }
}