/* Font - start */
$FontRobotoForPrice: 'Noto Sans';
$FontBold: 'Noto Sans';
$FontRegular: 'Noto Sans';
$FontRoboto: 'Noto Sans';
$FontCircularStd: 'Noto Sans';

/* $FontRobotoForPrice: 'Roboto-Medium', Arial, sans-serif;
$FontBold: 'Circular-Std';
$FontRegular: 'Circular-Std';
$FontRoboto: 'Circular-Std';
$FontCircularStd: 'Circular-Std'; */
/* Font - end */

/* Color - start */
$color-white: #fff;
$color-green: #3ccbbd;
//$color-main-1: #e72628;
$color-main-1: #d63931; //new design color
$color-main-2: #222;
$color-main-3: #666;
$color-main-4: #999;
$color-main-5: #ffeae9;
$color-main-6: #fef5f5;
$color-main-7: #8d99a5;
$color-main-8: #333945;
$color-main-9: #6a77fb;
$color-main-10: #39cccc;
$color-main-11: #231f20;
$color-main-12: #6978f7;
$color-main-13: #5cd7cb;
$color-main-14: #1a1824;
$color-main-15: #6577ea;
$color-main-16: #a2a9b0;

$color-main-17: #8d99a5; //new design color
$color-main-18: #697bef;
$color-main-19: #333333;
$color-main-20: #f23030;
$color-main-21: #e15131;
$color-main-22: #2c3e50;
$color-main-23: #f2f2f2;

$color-background-1: #eff0f2;
$color-background-2: #71df90;
$color-background-3: #f7f7f7;
$color-background-4: #f2ffff;
$color-background-5: #e5e5e5;
$color-background-6: #ebf3ff;
$color-background-7: #fbfbfb;
$color-background-8: #fdfdfd;

$color-border-1: #e5e5e5;
$color-border-2: #ccc;
$color-border-3: #e8e8e8;
$color-border-4: #b2b2b2;
$color-border-5: #e9e4e4;
$color-border-6: #d7d7d7;
$color-border-7: #eef0f1;
$color-border-8: #dcdfe4;
$color-border-9: #f2f2f2;

$color-bg-solid-1: #f8f8f8;
$color-bg-solid-2: #eee;
$color-bg-solid-3: #bec3c3;
$color-facebook: #3a5a99;
$color-google: #df4a32;
$color-twitter: #1da1f2;
$color-youtube: #fe0605;
$color-pinterest: #cb3339;
$color-linkedin: #0084bf;
$color-instagram: #4e7ea9;
$color-rss: #f98400;
$color-blue: #1e87f0;
$color-black: #000;
$color-lightgreen: #90ee90;
$color-lightgreenVoucher: #3bb9ad;
$color-itemcolor: #464647;
$color-pricecolor: #2b2c2c;
$color-lightpurple: #6877f6;
$color-lightgrey: #e0e0e0;
$color-sopa-logo: #5ed7cc;
/* Color - end */

/* Breakpoint - start */
$xxs: 480px;
$xs: 576px;
$sm: 768px;
$md: 992px;
$lg: 1120px;
$xl: 1368px;
/* Breakpoint - end */

$font-size-8px: 8px;
$font-size-9px: 9px;
$font-size-10px: 10px;
$font-size-11px: 11px;
$font-size-12px: 12px;
$font-size-13px: 13px;
$font-size-14px: 14px;
$font-size-15px: 15px;
$font-size-16px: 16px;
$font-size-17px: 17px;
$font-size-18px: 18px;
$font-size-19px: 19px;
$font-size-20px: 20px;
$font-size-21px: 21px;
$font-size-22px: 22px;
$font-size-23px: 23px;
$font-size-24px: 24px;
$font-size-25px: 25px;
$font-size-26px: 26px;
